<form [formGroup]='UserForm'>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationServer01">First name</label>

            <input type="text" [className]="UserForm.get('name').touched? 'form-control is-invalid':'form-control is-valid' "
                id="validationServer01" placeholder="First name" value="Mark" formControlName="name" required>
            <div *ngIf="UserForm.get('name').touched">
                <div>
                    Name is mandatory.
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationServer02">Last name</label>
            <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Last name" value="Otto"
                required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationServerUsername">Username</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend3">@</span>
                </div>
                <input type="text" class="form-control is-valid" id="validationServerUsername" placeholder="Username"
                    aria-describedby="inputGroupPrepend3" required>
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationServer03">City</label>
            <input type="text" class="form-control is-valid" id="validationServer03" placeholder="City" required>
            <div class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationServer04">State</label>
            <input type="text" class="form-control is-valid" id="validationServer04" placeholder="State" required>
            <div class="invalid-feedback">
                Please provide a valid state.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationServer05">Zip</label>
            <input type="text" class="form-control is-invalid" id="validationServer05" placeholder="Zip" required>
            <div class="invalid-feedback">
                Please provide a valid zip.
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
            <label class="form-check-label" for="invalidCheck3">
                Agree to terms and conditions
            </label>
            <div class="invalid-feedback">
                You must agree before submitting.
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
</form>
<hr>
<br>
<br>
<hr>

<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-md-12">
            <h2>Data for particular ID</h2>
            <div class="col-md-6 col-lg-6 text-center">
                <input type="text" class="form-control"  placeholder="Search by ID" [formControl]="searchId">
            </div>
            <div class="col-md-6">
                <button type="button" (click)="searchById()">Search</button>
            </div>
            <div *ngFor="let d of searchByIdResponse">
                Search Result for: {{d?.id}} <br>

                 Title: {{d?.title}} <br>
                 Content: {{d?.content}} <br>
            </div>
            

        </div>
        <br>
        <div class="col-md-6 col-lg-6 center">
            <h4>Add Note:</h4>
            <br>
            <form [formGroup]="notesForm" (ngSubmit)="onuSubmitNotesForm();">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" aria-describedby="titleHelp" placeholder="Enter Title"
                        formControlName="title">
                </div>
                <br>
                <div class="form-group">
                    <label for="content">Content</label>
                    <input type="text" class="form-control" id="content" aria-describedby="contentHelp" placeholder="Enter Content"
                        formControlName="content">
                </div>
                <button type="submit" class="btn btn-primary" (click)="onuSubmitNotesForm();">Submit</button> 
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-secondary" (click)="updateById();">Update</button>
            </form>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="col-md-12">
            <table class="table">
                <thead class="thead-dark">
                    <th>Select</th>
                    <th>Title</th>
                    <th>Content</th>
                </thead>
                <tbody>
                    <tr *ngFor="let note of notes">
                        <td><input type="radio" name="table-row-data" class="form-check-input" (change)="selectnote($event, note?.id)"></td>
                        <td>{{note?.title}}</td>
                        <td>{{note?.content}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>